 body{background-color:black}

 #header{
    background: url(/img/cocktail-set-bar.jpg);
    height: 80vh;
    background-size: cover;
    background-position:center;
}

.navbar-nav,li,a{
    float: right;
    color: #000!important;
}

nav .fa-glass-martini-alt{
    font-size: 1.9rem;
    padding: 5px;
}

.navbar-brand span{
    font-size: 2rem;
}

.shaker{
    margin-left: 15px;
    color: #000;
}

.barmix{
    color:#000;
}

nav .fa-bars{
    color: darkgrey;
    font-size: 26px;
}

.navbar-toggler{
    border:none!important;
    outline: none!important;
}

.navbar-nav{
    text-transform: uppercase;
    font-weight: bold;
}

#showcase{
    padding: 50px 100px;
    margin-top: -100px;
    background-color: lightgrey;
    border-radius: 5px;
    box-shadow: 0 0 20px 7px rgba(0,0,0,0.2);
}

.we-deliver {
    font-weight: 400;
    text-align: center;
    font-size: 2.2rem;
}

.home-btn{
    position: relative!important;
    left: 40%!important;
    color:darkgrey!important;
    margin-top: 20px!important;
    padding: 10px 30px!important;
    border-radius: 30px!important;
    background-color: #013f7e!important;
}

.row{
    margin-top: 40px;
    margin-bottom: 40px;
}

#about h3{
    margin-left: 20px;
}

.shaker-details{
    margin-left: 20px;
    line-height: 1.8rem!important;
}

#services h3{
    font-weight: 400;
    text-align: center;
    font-size: 2.2rem;
}

#services img{
    padding-top: 40px;
    width:200px;
    height:200px;
}
#services p{
    display: flex;
    flex: wrap;
}

.d-flex{
    margin-top: 40px;
} 